* {
    margin: 0px;
    padding: 0px;
}

#main-box {
    height: 600px;
    width: 94vw;
    margin: 3vw;
    border: 2px solid black;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#sub-box {
    height: 46%;
    width: 46%;
    background-color: blueviolet;
    border: 2px solid black;
    margin: 10px;
}

