/* Style for footer */
.social-media a {
    color: rgb(255, 43, 96);
    font-size: 2rem;
    margin: 0.7rem;
    transition: font-size 0.3s ease;
}

.social-media a:hover {
    font-size: 2.2rem;
}

.card-footer a {
    color: black;
    font-weight: 300;
    text-decoration: none;
    margin: 4px;
    transition: font-weight, 0.3s, ease-in;
}

.card-footer a:hover {
    font-weight: 400 !important;
}
