/* Navbar styles */
.navbar {
    height: 6rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: rgba(236, 233, 233, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Flexbox properties */
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo styles */
.navbar-brand {
    display: flex;
    align-items: center;
}

.fa-hotel {
    color: #ff2b60;
    font-size: 2.5rem;
    margin-right: 0.5rem;
}

.logo {
    color: #ff2b60;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
}

/* Navbar link styles */
.nav-link {
    font-size: large !important;
    font-weight: 500 !important;
    color: #333 !important;
    transition: all 0.3s ease !important;
}

.nav-link:hover {
    color: #ff2b60 !important;
    box-shadow: 0 0 3px black !important;
    text-shadow: 0 0 3px rgb(63, 60, 60) !important;
}

/* Offcanvas styles */
.offcanvas-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.offcanvas-body .nav-link {
    font-size: 1.2rem !important;
    padding: 0.5rem 1rem !important;
    color: #333 !important;
}

.offcanvas-body .nav-link:hover {
    color: #ff2b60 !important;
}

/* Adjust icon inside the button */
.fa-magnifying-glass {
    display: inline;
    margin-right: 2px;
}

.profile-pic{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
}

.dropdown-item:hover{
    background-color: #ff2b60;
}

@media only screen and (max-width:530px) {
    .logo,.fa-hotel{
        font-size: 1.3rem;
    }

    .sbtn{
        display: none;
    }

    .search{
        border-radius:5rem;
    }
}

@media screen and(max-width:380px) {
    .navbar-brand{
        position: relative;
        top: -30px;
    }
}

@media screen and (min-width:1200px) {
    .search-form{
        position: relative;
        left:15rem;
    }
}

@media  screen and (max-width:1200px) and (min-width:993px) {
    .search-form{
        position: relative;
        left:4rem;
    }
}