/* STYLE FOR CONTAINER  */
.container {
    margin: auto;
    margin-top: 8rem;
}
.show-card {
    margin-bottom: 4rem !important;
    border-radius: 1.2rem;
    position: relative;
    top: -17px;
}

/* STYLE FOR OWNER NAME  */
.mb-1{
    display: flex;
    flex-direction: row;
}
.mb-1 .name{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.mb-1 p{
    position: relative;
    top: -7px;
    color: rgb(79, 75, 75);
}
.mb-1 a{
    color: rgb(83, 80, 80,0.8);
    text-decoration: none;
    transition: all 0.1s 0.1s ease-in;
}
.mb-1 a:hover {
    color: black;
    text-decoration: underline;
}
.userimg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid black;
}

/* STYLE FOR CARD IMAGE  */
.show-card .card-img-top {
    border-radius: 1.2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    width: 100%;
}
.show-card .card-img-top{
    height: 50vh !important;
}

/* STYLE FOR EDIT AND DELETE LISTING BTNS */
.form-btns form {
    padding: 0rem;
    flex: none;
}
.form-btns {
    display: flex;
    flex-direction: row;
}
.form-btn{
    margin-top: 4px !important;
    background-color: rgb(255, 60, 109) !important;
    box-shadow: 0px 0px 10px black !important;
    transition: background-color,0.3s,ease-in, border,0.3s,ease-in , box-shadow,0.3s,ease-in !important;
}
.form-btn:hover {
    background-color: rgb(242, 23, 78) !important;
    border: 1px solid black !important;
    box-shadow: 0px 0px 15px black !important;
}
.col1,.col2 {
    margin-right: 10px;
}

/* STYLE FOR REVIEW FORM  */
form {
    padding: 2rem;
    flex: 1;
}
.form-control:focus {
    border:4px solid rgb(255, 60, 109,0.5)  !important;
}

/* STYLE FOR SEE ALL REVIEWS BUTTON  */
.review-btn {
    margin-bottom: 15px;
}

 /* STYLE FOR REVIEWS  */
#all-reviews{
    display: none;
}
.box {
    display: grid; 
    grid-template-columns: 48% 48%;
}
.review-card {
    margin-bottom: 10px; 
    margin-left: 3%;
    padding: 0.2rem !important;
}
.r-user{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 10px;
    left: -10px;
}
.r-user .name{
    margin-left: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.r-user p{
    position: relative;
    top: -7px;
    color: rgb(121, 116, 116);
}
.r-user a{
    color: rgba(20, 19, 19, 0.8);
    text-decoration: none;
    transition: all 0.1s 0.1s ease-in;
}
.r-user a:hover {
    color: black;
    text-decoration: underline;
}
.r-user .userimg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
}

/* MEDIA QUERIES  */
@media only screen and (max-width:500px) and (min-width:550px) {
    .r-user .userimg {
        width: 35px;
        height: 35px;
    }
    .r-user a,.r-user p{
        font-size:small;
    }
}

@media only screen and (max-width:550px) {
    .box{
        display: grid; 
        grid-template-columns: auto;
    }
    .r-user .userimg {
        width: 45px;
        height: 45px;
    }
}

