h1
{
    color:teal;
}

h2
{
    color:blueviolet;
    background-color: aquamarine;
}

p
{
    color:deeppink;
}

button
{
    color:wheat;
    background-color: crimson;
}

body

{
    background-color:rgb(25,12,25);
}

 /* to select id use # and to select class use .  */