p
{
    text-align: left;
    text-decoration-line: underline;
    text-decoration-color: blue;
    text-wrap: pretty;
    


    font-weight: 100;  
    /* denotes how light or dark text will be (100-900) bold-400  */

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     /* style of text  */
}
    

                     /* **** notes ****  */


i/* text-decoration : underline/overline/line-through  */

     /* 96px=1 inch  */