<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Message</title>
</head>
<style>
       body { margin: 10px;
    padding: 10px;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

button{
    background-color: rgb(175, 105, 175);
    height: 2rem;
    width: 5rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
    margin: 20px;
}
    
button:hover{background-color: rgb(160, 7, 160);
    color: white;
    box-shadow: 0px 0px 20px black;}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px;
    color: black;
}
</style>
<body>
    <h2>Edit Message</h2>
    <form  action="/chats/<%= thisChat._id %>?_method=PATCH" method="post">
        <label for="msg">Edit Message</label>
        <input type="text" name="msg" value="<%= thisChat.message %>">
        <button>Save</button>
    </form>
</body>
</html>