<%- layout("/layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/login.css">
<body>
    <form action="/login" method="post" class="needs-validation new-form" novalidate style="height: 70vh;">
        <!-- TITLE  -->
        <h3>Login to LodgeLink!</h3>
        <!-- USERNAME  -->
        <div class="mb-3">
            <label for="username" class="form-label">Enter your Username:</label>
            <input type="text" class="form-control" required name="username" id="username">
        </div>
        <!-- PASSWORD  -->
        <div class="mb-3">
            <label for="password" class="form-label">Enter your Password:</label>
            <input type="text" class="form-control" required name="password" id="password">
        </div>
        <div class="fp">
            <button class="btn btn-primary form-btn">Login</button>
            <a href="/signup" class="btn form-btn">Signup</a>
        </div>
        <a href="">Forgot Password?</a>
    </form>
</body>