* {
    margin: 0;
    padding: 0;
}

header {
    height: 122px;
    background-color: black;
}

main {
    height: 800px;
    background-color: aqua;
}

.loader {
    height: 2%;
    background-color: red;
    animation: load 2s;
}


@keyframes load {
    from {
        width: 0px;
    }

    to {
        width: 100vw;
    }
}
