<%- layout("/layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/form.css">
<body>
    <form action="/listings" method="post" class="needs-validation new-form" enctype="multipart/form-data">
        <!-- FORM HEADING  -->
        <h3>Create A New Listing!</h3>
        <!-- TITLE  -->
        <div class="mb-3">
            <label for="title" class="form-label title">Title<span>*</span></label>
            <input type="text" class="form-control" id="title" name="title">
            <div class="title-err error no-display">
                <i class="fa-solid fa-circle-exclamation"></i> Please give your listing a title!
            </div>
        </div>
        <!-- DESCRIPTION  -->
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" class="form-control"></textarea>
        </div>
        <!-- IMAGE URL  -->
        <div class="mb-3">
            <label for="img" class="form-label">Upload Image<span>*</span></label>
            <input type="file" class="form-control" id="img" name="img">
            <div class="img-err error no-display">
                <i class="fa-solid fa-circle-exclamation"></i>  Please enter valid image url!
            </div>
        </div>
        <div class="row mb-3">
            <!-- PRICE  -->
            <div class="col">
                <label for="price" class="form-label">Price<span>*</span></label>
                <input type="number" class="form-control" id="price" name="price">
                <div class="price-err error no-display">
                    <i class="fa-solid fa-circle-exclamation"></i>  Please enter valid Price!
                </div>
            </div>
            <!-- COUNTRY  -->
            <div class="col">
                <label for="country" class="form-label">Country<span>*</span></label>
                <input type="text" class="form-control" id="country" name="country">
                <div class="coun-err error no-display">
                    <i class="fa-solid fa-circle-exclamation"></i>  Please enter valid Country Name!
                </div>
            </div>
        </div>
        <!-- LOCATION  -->
        <div class="mb-3">
            <label for="location" class="form-label">Location<span>*</span></label>
            <input type="text" class="form-control" id="location" name="location">
            <div class="loc-err error no-display">
                <i class="fa-solid fa-circle-exclamation"></i>  Please enter valid Location!
            </div>
        </div>
        <!-- COMPULSORY REMARK  -->
        <div class="span">
            Fields with * are to be filled compulsarily!
        </div>
        <!-- CREATE BUTTON  -->
        <button class="btn btn-primary form-btn">Create</button>
    </form>
    <script src="/js/form.js"></script>
</body>