<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Us!</title>
</head>
<body>
    <h1>Thanks for joining us!</h1>
    <form action="http://localhost:8004/user" method="post" style="display: flex; flex-direction: column; width: 75vh;">
        <label for="username">Enter your username:</label>
        <input type="text" name="username">
        <label for="email">Enter your mail:</label>
        <input type="text" name="email">
        <label for="id">Enter your unique id:</label>
        <input type="text" name="id">
        <label for="password">Enter your unique password:</label>
        <input type="password" name="password">
        <button>Make account</button>
    </form>
</body>
</html>