nav {
    
    border: 2px dashed;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-size: 25px;
    font-family: cursive;
    color: antiquewhite;
    
}

#box1 {
    height: 500px;
    width: 500px;
    border: 2px solid;
    display: flex;
    justify-content: space-around;
    /* transition-property: all;  */
    /* transition-duration: 5s;  */
    /* transition-timing-function: ease-in;  */
    /* transition-delay: 2ms;  */

    transition: all 5s ease-in 2ms;
}

#box2 {
    height: 300px;
    width: 300px;
    border: 2px dotted;
    background-color: fuchsia;
    align-self: center;
}

@media (max-width: 300px) {
    #box2 {
        background-color: green;
    }
}

@media (min-width: 300px) and (max-width: 400px) {
    #box2 {
        background-color: pink;
    }
}

div:hover {
    background-color: aqua;
    font-size: 25px; 
    
}

div:active {
    background-color: pink;
}

